<div class="Main">
  <div class="Main__hero Container Container--wider lazyload" data-bgset="{{ page.metafields.gwm.header_image }}">
  </div>
  <div class="Container Container--narrowest">
    <header class="Main__header">
      <h1>{{ page.title }}</h1>
    </header>
    <div class="Main__content rte">
      {{ page.content }}
    </div>
  </div>
</div>
