.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown__trigger {
  text-decoration: none;
  .icon {
    font-size: 1.1em;
    vertical-align: middle;
  }
}

.Dropdown__contents {
  padding: 1rem;
  background: white;
  @include absolute(top 135% left 50%);
  transform: translate(-50%, 1.1rem);
  display: none;
  z-index: 90;
  border-top: 2px solid gc(brand);
  box-shadow: hsla(0, 0%, 0%, 0.05) 0 8px 18px;
  .arrow {
    @include inline_pointer(top, 12px, 24px, white, gc(brand), 3px);
    @include absolute(top -12px right 50%);
    transform: translateX(50%);
  }

  .Nav {
    white-space: nowrap;
    a.Nav__item {
      text-transform: none;
      font-weight: normal;
      color: var(--color-body-text);
    }
  }
}
